.chatInput{
  position: absolute;
  display: flex;
  width: 66vw;
  bottom: 2;
}
.chatInput input{
  width: 85%;
  margin:0 20px;
}
.chat{
  width: 66vw;
}
.messages{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.message{  
  margin: 10px;
  width: 40%;
  margin-right: 80px ;
}
.sender{
  align-self: flex-end;
  background-color: #025b4b;
}
.receiver{
  background-color: #373737;
}