body{
  justify-content: center;
  align-items: center;
}
.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 10%;
    padding-top: 5%;
    border-radius: 2rem;
    padding: 3rem;
    width: 40vw;
    height: auto;
    text-align: center;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1.5rem 0;
}
@media screen and (max-width: 600px) {
  .container{
    width: 70vw;
  }
  .input{
    flex-direction: column;
  }
}

.input input{
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

h2{
  margin-top: 0;
}
